<div class="login">
	<h1>Login</h1>
    <form method="post">
      <input type="number" name="u" placeholder="RollNumber" required="required" />
      <div class="dropdown">
        <button class="dropbtn">Department</button>
        <div class="dropdown-content">
          <a href="#">CSE</a>
          <a href="#">ECE</a>
          <a href="#">EE</a>
          <a href="#">IT</a>
        </div>
      </div>
      &nbsp;
      &nbsp;
      <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
          <a href="#">CS 601</a>
          <a href="#">CS 602</a>
          <a href="#">CS 603</a>
        </div>
      </div>
      <br>
      <br>
      <button type="submit" class="btn btn-primary btn-block btn-large" routerLink="/inst" >Let me in.</button>
    </form>
</div>