<header>
    <div class="container">Instructions</div>
</header>
<br>
<br>
<div class="container">
  <div class="m">
     <h1><u> Read before starting the exam: </u></h1>
  </div>
  <br>
  <br>
  <div class="a">
    <ul type="square">
      <li>There are 10 Questions. </li>
      <li>Each Question has 4 alternatives. Choose the correct one.</li>
      <li>With each correct attempt, 1 mark will be awarded. </li>
      <li>There is no negative marking for a wrong answer. </li>
      <li>Time limit is 15min. </li>
      <li>Calculator or any electronic device is not allowed.</li>
  
    </ul>
  </div>
<br>
<br>
<div class="wrapper">
    <nav>
        <a routerLink="/exam" routerLinkActive="active" class="btn btn-danger">Start Exam</a>
    </nav>
</div>
