header {
    background-color: black;
    color: cadetblue;
    height: 8vw;
    text-align: center;
    position: relative;
    font-size: 7vh; 
}
  
    .ede{
        text-align: center
        
    }